<?xml version='1.0' encoding='utf-8'?>
<widget id="br.org.coffito.legislacao" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Legislação</name>
    <description>
        Consulta nas resoluções do site do COFFITO on-line.
    </description>
    <author email="vinicius@coffito.org.br" href="http://cordova.io">
        Departamento de Informática do COFFITO.
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
